<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="estimatr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="estimatr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="estimatr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="estimatr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Estimatr</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="EstimatrController as eCtrl">

<!-- NAVIGATION -->

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Estimatr</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="totals-label">
          <span class="type">Subtotal</span>
          <span class="hours">{{ projectHoursSubtotal() | number:2 }}</span>
          <span class="amount">{{ projectSubtotal() | currency }}</span>
        </div>
        <div class="totals-label">
          <span class="type">PM</span>
          <span class="hours">{{ projectPmHours() | number:2 }}</span>
          <span class="amount">{{ projectPmTotal() | currency }}</span>
        </div>
        <div class="totals-label">
          <span class="type">Total</span>
          <span class="hours">{{ projectHoursTotal() | number:2 }}</span>
          <span class="amount">{{ projectTotal() | currency }}</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="adjustRate()">Hourly: <strong>{{ quote.rate | currency }}</strong></a></li>
              <li><a href ng-click="adjustPmPercent()">PM Ratio: <strong>{{ quote.pm_percent | number : 0 }}%</strong></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- EDITOR -->

  <div class="container">
    <div class="page-header">
      <h1>
        <small>{{ quote.customer }}</small>
        {{ quote.title }}
      </h1>  
    </div>

    <div class="panel panel-default" ng-repeat="section in quote.sections">
      <div class="panel-heading">
        <a href class="text-danger pull-right" ng-click="removeSection(section)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <h3 class="panel-title"><a href ng-click="editSectionTitle($index)">{{ section.title }}</a></h3>
      </div>
      <table class="table table-striped section">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th class="text-right">Hours</th>
            <th class="text-right">Amount</th>
          </tr>  
        </thead>
        <tbody>
          <tr ng-repeat="item in section.items">
            <td>
              <a href class="text-danger" ng-click="removeItem(section,item)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
            <td class="item">
              <input type="text" class="form-control" size="3" value="item.title" ng-model="item.title">
            </td>
            <td class="hours">
              <input type="text" class="form-control" size="3" value="item.hours" ng-model="item.hours" ng-change="sumSectionHours(section)">
            </td>
            <td class="amount">{{ item.hours * quote.rate | currency }}</td>
          </tr>
          <tr class="add-item">
            <th>&nbsp;</th>
            <td colspan="3">
              <a href ng-click="addItem(section)">+ add item</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>&nbsp;</td>
            <th>Subtotal</th>
            <td class="hours">{{ section.hours | number:2 }}</td>
            <td class="amount">{{ sectionSubtotal(section) | currency }}</td>
          </tr>
          <tr class="pm-total">
            <td>&nbsp;</td>
            <th>PM Total</th>
            <td class="hours">{{ sectionPmHours(section) | number:2 }}</td>
            <td class="amount">{{ sectionPmTotal(section) | currency }}</td>
          </tr>
          <tr class="total">
            <td>&nbsp;</td>
            <th>Total</th>
            <td class="hours">{{ sectionTotalHours(section) | number:2 }}</td>
            <td class="amount">{{ sectionTotal(section) | currency }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <button class="btn btn-default btn-sm" ng-click="addSection()"><span class="glyphicon glyphicon-plus"></span> Section</button>
  </div>

  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
